<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer id="footer" class="py-6 px-6 flex justify-between bg-gray-800">
    <div class="w-1/2 pr-10">
        <h3 class="mb-5 font-semibold text-gray-100">Follow me!</h3>
        <ul class="space-y-2">
            <li><a href="https://www.linkedin.com/in/pranj999/" class="text-lg text-teal-500 hover:text-teal-700 fa fa-linkedin"> LinkedIn</a></li>
            <li><a href="https://twitter.com/pranj999" class="text-lg text-teal-500 hover:text-teal-700 fa fa-twitter"> Twitter</a></li>
        </ul>
    </div>
    <div class="w-1/2">
        <h3 class="mb-5 font-semibold text-gray-100">Email</h3>
        <ul class="space-y-2">
            <li><a href="mailto:pranj999@gmail.com" class="text-lg text-teal-500 hover:text-teal-700">pranj999@gmail.com</a></li>
        </ul>
    </div>
</footer>