{% extends 'base.html' %}

{%block title%}
Hello
{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100">
  <h1 class="inline text-5xl text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"> Hello Universe!</h1>
  <p class="inline text-5xl">&#9996;</p><br/><br/>
  <p class="text-2xl ">This is Pranjal Patel from India! I'm a computer science major with interests in data science and machine learning.</p>
  <p class="text-2xl">I love programming and taking up new challenges in life. Recently, I have gotten more into hiking and exploring nature. I love reading fiction, non-fiction and mangas. Gaming is a must to cool down.</p>
</div>
<div class="mt-6 px-6 py-12">
  <h1 class="text-5xl text-center text-white">Portfolio</h1>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100">

</div>
{% endblock %}
