{% load static %}

  <nav id="navbar" class="navbar flex items-center justify-between px-8 py-4 z-99">
    <!-- Logo and Heading -->
    <div class="flex items-center space-x-4">
      <img src="{%static 'favicon1.png'%}" alt="Logo" class="w-8 h-8">
      <h1 class="text-teal-500 text-xl hover:text-red-500">Pranjal Patel</h1>
    </div>

    <!-- Links -->
    <div class="flex items-center space-x-4">
      <a href="/" class="text-teal-500 hover:underline underline-offset-4 hover:text-red-500 ">Home</a>
      <a href="#about" class="text-teal-500 hover:underline underline-offset-4 hover:text-red-500">About</a>
      <a href="#" class="text-teal-500 hover:underline underline-offset-4 hover:text-red-500">Services</a>
      <a href="#" class="text-teal-500 hover:underline underline-offset-4 hover:text-red-500">Contact</a>
    </div>
  </nav>