{% load static %}
  <nav id="navbar" class="navbar flex items-center justify-between px-8 py-4 z-99">
    <!-- Logo and Heading -->
    <div class="flex items-center space-x-4">
      <img src="{%static 'favicon1.png'%}" alt="Logo" class="w-8 h-8">
      <h1 class="text-white text-xl ">Pranjal Patel</h1>
    </div>

    <!-- Links -->
    <div class="flex items-center space-x-4">
      <a href="/" class="text-white">Home</a>
      <a href="#about" class="text-white">About</a>
      <a href="#" class="text-white">Services</a>
      <a href="#" class="text-white">Contact</a>
    </div>
  </nav>